*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  padding: 0 30px;
 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  background-color: #000000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  line-height: 22px;
}

.search-form__textfield {
  width: 100%;
  min-width: 225px;
  padding: 4px 0;
  background-color: transparent;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus + .search-form__pseudo-checkbox {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.button {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
  height: 34px;
}

.content__details {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 0;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 1px solid #ffffff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16px;
  max-height: 64px;
  overflow: hidden;
}